* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color:#915FBF;
  font-family: 'Raleway', sans-serif;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}